{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Admission/index.css' %}" />
<div class="header">
<div id="wrapper">
	<div class="logo">
		<!-- <img src="statimages/download.png" alt="image not available"> -->
	</div>
	<div id="menu">
		<a href="{% url 'Admission:index' %}">Home</a>
		<a href="{% url 'Admission:institute' %}">Institute</a>
		<a href="{% url 'Admission:register' %}">Register/Login</a>
	</div>
</div>
</div>
<div id="div10">
</div>
<div id="div11">
<pre>
<h3 class="h3">Vision</h3>

<pre>To be the fountainhead of new ideas and innovations in science and technology and continue to be a source of pride for all Indians.</pre>

<h3 class="h3">Mission</h3>
<pre>To create an environment that shall foster the growth of intellectually capable, innovative and entrepreneurial professionals, who shall contribute to the growth of Science and Technology in partnership<br> with industry and develop and harness it for the welfare of the nation and mankind.</pre>

<h3 class="h3">Core Values</h3>
<ul><li>Academic integrity and accountability</li><br><li>Respect and tolerance for the views of every individual</li><br><li>Attention to issues of national relevance as well as of global concern</li><br><li>Holistic understanding, including knowledge of the human sciences</li><br><li>Appreciation of intellectual excellence and creativity</li><br><li>An unfettered spirit of learning exploration, rationality and enterprise</li><br><li>Sensitivity to social responsibilities</li>
</ul>

<h3 class="h3">About IIT Roorkee</h3>
<pre><span style="line-height: 1.6em;">Indian Institute of Technology - Roorkee is among the foremost of institutes of national importance in higher technological education and in engineering, basic and applied research. Since its establishment,<br> the Institute has played a vital role in providing the technical manpower and know-how to the country and in pursuit of research. The Institute ranks amongst the best technological institutions in the world<br> and has contributed to all sectors of technological development. It has also been considered a trend-setter in the area of education and research in the field of science, technology, and engineering.</span></pre>
<pre><span style="line-height: 1.6em;">The Institute has completed 150th year of its existence in October 1996. On September 21, 2001, an Ordinance issued by the Government of India declared it as the nation&#39;s seventh Indian Institute of<br> Technology. The Ordinance is now converted into an Act by the Parliament to make IIT, Roorkee as an &quot;Institution of National Importance&quot;.</span></pre>
<pre><span style="line-height: 1.6em;">The Institute offers Bachelor&#39;s Degree courses in 10 disciplines of Engineering and Architecture and Postgraduate&#39;s Degree in 55 disciplines of Engineering, Applied Science, Architecture and planning.<br> The Institute has facility for doctoral work in all Departments and Research Centres.</span></pre>
<pre><span style="line-height: 1.6em;">​</span><span style="line-height: 1.6em;">The Institute admits students to B.Tech. and B.Arch. courses through the Joint Entrance Examination (JEE) conducted at various centres all over India.</span></pre>
</pre>
</div>